<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h1>BBS_Admin</h1>
<p>
    <a href="{{ url_for('bbs_admin.admin') }}">首页</a>&nbsp;&nbsp;
    {% if current_user.is_admin() %}
        <a href="{{ url_for('bbs_admin.manager_user') }}">用户管理</a>&nbsp;&nbsp;
    {% endif %}
    <a href="{{ url_for('bbs_admin.manager_index') }}">首页管理</a>&nbsp;&nbsp;
    <a href="{{ url_for('bbs_admin.manager_post',order_by_id=0,order_by_time=0) }}">帖子管理</a>&nbsp;&nbsp;
    <a href="{{ url_for('bbs_admin.manager_comment') }}">评论管理</a>&nbsp;&nbsp;
    <a href="{{ url_for('bbs1.index') }}">BBS首页</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="color: chocolate;">欢迎用户{{ current_user.username }}({{ current_user.role.role_name }})</span>
</p>
<hr>
{% block contnet %}
{% endblock %}
</body>
</html>