{% extends 'base.html' %}
{% block contnet %}

    <h2><span class="glyphicon glyphicon-user"></span>{{ user1.username }}的主页</h2>
    <ul class="nav nav-tabs">
    {% if current_user.username==user1.username %}
  <li role="presentation" class="active"><a href="{{ url_for('bbs1.userprofile',username=current_user.username) }}">我的信息</a></li>
  <li role="presentation"><a href="{{ url_for('bbs1.user_post',username=current_user.username) }}">我的帖子</a></li>
  <li role="presentation"><a href="{{ url_for('bbs1.user_comment',username=current_user.username) }}">我的评论</a></li>
    <li role="presentation"><a href="{{ url_for('bbs1.user_followers',username=current_user.username) }}">我的关注</a></li>
        <li role="presentation"><a href="#">我的私信</a></li>
    {% else %}
        <li role="presentation" class="active"> <a href="{{ url_for('bbs1.userprofile',username=user1.username) }}">{{ user1.username }}信息</a></li>
        <li role="presentation"> <a href="{{ url_for('bbs1.user_post',username=user1.username) }}">{{ user1.username }}帖子</a></li>
        <li role="presentation"><a href="{{ url_for('bbs1.user_comment',username=user1.username) }}">{{ user1.username }}评论</a></li>
{#        判断是否已关注#}
    {% if not current_user.is_following(user1) %}
        <li role="presentation"> <a href="{{ url_for('bbs1.follow',username = user1.username) }}">关注{{ user1.username }}</a></li>
        {% else %}
        <li role="presentation"> <a href="{{ url_for('bbs1.unfollow',username = user1.username) }}">取关{{ user1.username }}</a></li>
    {% endif %}
    {% endif %}
</ul>


{% endblock %}
