{% extends 'base.html' %}
{% block title %} 评论 {% endblock %}
{% block contnet %}
    <div class="row">
    <div class="col-lg-8" style="font-size: 20px">{{ post1.title }}</div>
    <div class="col-lg-4">
        <a href="#" class="btn btn-default btn-xs" role="button">只看楼主</a>
        <a href="#" class="btn btn-default btn-xs" role="button">收藏</a>
        <a href="#send_comment" class="btn btn-default btn-xs" role="button">评论</a>
    </div>
    </div>
<table border="1">
    <tr style="height: 250px">
        <td rowspan="2" style="width: 100px;padding-left: 18px;padding-top: 10px" valign="top">
            <img src="/static/uploads/{{ post1.user.head_img }}" style="height: 60px;width: 60px">
            <br><a href="{{ url_for('bbs1.userprofile',username=post1.user.username) }}">{{ post1.user.username }}</a>
        </td>
        <td style="width: 500px;padding-left: 10px;padding-top: 10px" valign="top">{{ post1.body }}</td>
    </tr>
    <tr>
        <td style="text-align: right">1楼 &nbsp;&nbsp;{{ post1.create_time }}&nbsp;&nbsp;<a href="#" class="btn btn-default btn-xs" role="button">评论</a></td>
    </tr>

 {% for comment in comments %}
                <tr style="height: 150px">
        <td rowspan="2" style="width: 100px;padding-left: 18px;padding-top: 10px" valign="top">
            <img src="/static/uploads/{{ comment.user.head_img }}" style="height: 60px;width: 60px">
            <br><a href="{{ url_for('bbs1.userprofile',username=comment.user.username) }}">{{ comment.user.username }}
        {% if comment.user.username == post1.user.username %}（楼主）{% endif %}
        </a>
        </td>
        <td style="width: 500px;padding-left: 10px;padding-top: 10px" valign="top">
            <div style="color: darkred">
                {% if comment.parent_comment %}回复：{{ comment.parent_comment.louceng+1}}楼&nbsp;{{ comment.parent_comment.user.username }}{% endif %}
            </div>
            <h5 id="comment_body{{ comment.id }}">{{ comment.body }}</h5></td>
    </tr>
    <tr>
        <td style="text-align: right">{{ comment.louceng+1}}楼 &nbsp;&nbsp;{{ comment.create_time }}&nbsp;&nbsp;
            <button id="huifu_btn{{ comment.id }}" onclick="get_comment_body({{ post1.id }},{{ comment.id }},{{ comment.louceng+1 }})" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">回复</button></td>
    </tr>
{% endfor %}
</table>
    《-{% for p in pagination.iter_pages() %}
        <a href="{{ url_for('bbs1.comment',page= p,post_id=post1.id) }}">{{ p }}</a>
    {% endfor %}-》

<hr>


 <hr id="send_comment">
    {% if current_user.is_authenticated %}
    <h2>发表评论</h2>
    {% from '_filed.html' import render_field %}
<form method="POST" action="{{ url_for('bbs1.comment',post_id=post1.id) }}"  class="form-group">
  {{ edit_comment.hidden_tag() }}
  <table>
    {{ render_field(edit_comment.body) }}
  </table>
  {{ edit_comment.submmit() }}
</form>
    {% endif %}


{#模态对话框#}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">回复xx楼</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">评论内容</label>
            <input type="text" class="form-control  new_comment_body" id="recipient-name" readonly>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">回复内容:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary huifu_btn" onclick="send_child_comment()">回复</button>
      </div>
    </div>
  </div>
</div>

 <script>
 {#使用模态对话框的方式，来显示发子评论的界面，使用ajax来向后端发送数据#}
    function send_child_comment() {
        var huifu_btn = document.getElementsByClassName('huifu_btn')[0];
        p_c_list = huifu_btn.id.split('_');
        post_id = p_c_list[0];
        comment_id = p_c_list[1];
        var edit_child_comment = document.getElementById('message-text');
        // 新建XMLHttpRequest对象
        var req = new XMLHttpRequest();
        // 状态发生变化时，函数被回调
        req.onreadystatechange=function () {
            //状态码为4代表请求完成
            if (req.readyState==4&&req.status==200) {
                data = req.responseText;
                data = JSON.parse(data);
                location.reload();
            }
        };
        //post方式建立连接
        req.open('post','http://127.0.0.1:5000/comment/'+post_id+'/edit_child_comment',true);
        //post请求的编码方式，这是浏览器的原生 form 表单的默认编码方式
        req.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        //发送请求
        req.send("comment_id="+comment_id+"&edit_child_comment="+edit_child_comment.value);
    }
    function get_comment_body(post_id,comment_id,comment_louceng) {
        var comment_body = document.getElementById('comment_body'+comment_id);
        var new_comment_body = document.getElementsByClassName('new_comment_body')[0];
        var exampleModalLabel = document.getElementById('exampleModalLabel');
        var huifu_btn = document.getElementsByClassName('huifu_btn')[0];
        exampleModalLabel.innerText = '回复'+comment_louceng+'楼';
        new_comment_body.setAttribute('placeholder',comment_body.innerText);
        huifu_btn.setAttribute('id',post_id+'_'+comment_id);

    }
 </script>
{% endblock %}