{% extends 'admin_base.html' %}
{% block title %} 评论修改 {% endblock %}
{% block contnet %}
    <h1>评论修改</h1>
    <hr>
    <form method="POST" action="{{ url_for('bbs_admin.edit_manager_comment',comment_id=comment1.id) }}">
    {{ edit_manager_comment_form.hidden_tag() }}
    <table border="1">
    <thead>
        <tr>
            <td>ID</td>
            <td>所属帖子</td>
            <td>评论者</td>
            <td>被评论者</td>
            <td>内容</td>
            <td>创建时间</td>
            <td>顶级评论</td>
            <td>可读</td>
            <td>操作</td>
        </tr>
    </thead>
       <tr>
            <td>{{ comment1.id }}</td>
            <td>{{ comment1.post.title }}</td>
            <td>{{ comment1.user.username }}</td>
            {% if comment1.is_top_comment %}
                <td>顶级评论</td>
                {% else %}
                <td>{{ comment1.parent_comment.user.username }}</td>
            {% endif %}
            <td>{{ edit_manager_comment_form.body }}</td>
            <td>{{ comment1.create_time }}</td>
            <td>{{ comment1.is_top_comment }}</td>
            <td>{{ edit_manager_comment_form.can_seen }}</td>
            <td>{{ edit_manager_comment_form.submmit }}|<a href="{{ url_for('bbs_admin.manager_comment') }}">取消</a></td>
        </tr>
    </table>
    </form>
{% endblock %}