{% extends 'base.html' %}
{% block title %} 登陆 {% endblock %}
{% block contnet %}
<h2>登陆</h2>
{% from '_filed.html' import render_field %}
<form method="POST" action="{{ url_for('bbs1.login') }}">
  {{ login_form.hidden_tag() }}
  <table>
    {{ render_field(login_form.username) }}
    {{ render_field(login_form.email) }}
    {{ render_field(login_form.password) }}
  </table>
  {{ login_form.submmit() }}
</form>
{#    显示后端闪现内容，这里就是用户名密码错误的信息#}
    {% for msg in get_flashed_messages()  %}
        <p>{{ msg }}</p>
{% endfor %}
{% endblock %}