{% extends 'admin_base.html' %}
{% block title %} 帖子管理 {% endblock %}
{% block contnet %}
    <h1>帖子管理</h1>
    <form method="post" action="{{ url_for('bbs_admin.manager_post',order_by_id=0,order_by_time=0) }}">
          {{ search_manager_post_form.hidden_tag() }}
        {{ search_manager_post_form.search }}
        {{ search_manager_post_form.kind }}
        {{ search_manager_post_form.submmit }}
    </form>
    <a href="{{ url_for('bbs_admin.manager_post',order_by_id=0,order_by_time=0) }}">显示全部</a>
    <hr>
    <table border="1">
    <thead>
        <tr>
            {% if order_by_id==1 and order_by_time==0 %}
                <td><a href="{{ url_for('bbs_admin.manager_post',order_by_id=0,order_by_time=0) }}#">ID(倒叙)</a></td>
            {% else %}
                <td><a href="{{ url_for('bbs_admin.manager_post',order_by_id=1,order_by_time=0) }}#">ID(正序)</a></td>
            {% endif %}
            <td>作者</td>
            <td>标题</td>
            <td>内容</td>
            {% if order_by_id==0 and order_by_time==1 %}
                <td><a href="{{ url_for('bbs_admin.manager_post',order_by_id=0,order_by_time=0) }}">创建时间(倒序)</a></td>
            {% else %}
                <td><a href="{{ url_for('bbs_admin.manager_post',order_by_id=0,order_by_time=1) }}">创建时间(正序)</a></td>
            {% endif %}
            <td>最后修改</td>
            <td>评论数</td>
            <td>赞</td>
            <td>可读</td>
            <td>置顶</td>
            <td>加精</td>
            <td>操作</td>
        </tr>
    </thead>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.user.username }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.create_time }}</td>
                <td>{{ post.last_modify_time }}</td>
                <td>{{ post.comment | length }}</td>
                <td>{{ post.zancai | length }}</td>
                <td>{{ post.can_seen }}</td>
                <td>{{ post.is_top }}</td>
                <td>{{ post.is_best }}</td>
                <td><a href="{{ url_for('bbs_admin.edit_manager_post',post_id=post.id) }}">修改</a>|<a href="#">删除</a></td>
            </tr>
        {% endfor %}
    </table>
    《-{% for p in pagination.iter_pages() %}
        <a href="{{ url_for('bbs_admin.manager_post',page= p,order_by_id=0,order_by_time=0) }}">{{ p }}</a>
    {% endfor %}-》
{% endblock %}