{% extends 'base.html' %}
{% block title %} 注册 {% endblock %}
{% block contnet %}
<h2>注册新用户</h2>
{% from '_filed.html' import render_field %}
<form method="POST" action="{{ url_for('bbs1.edit_post') }}" >
{#   不要忘记csrf_token#}
  {{ register_form.hidden_tag() }}
  <table>
    {{ render_field(register_form.username) }}
    {{ render_field(register_form.email) }}
    {{ render_field(register_form.password) }}
    {{ render_field(register_form.password2) }}
  </table>
  {{ register_form.submmit() }}
</form>
{% endblock %}