<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>111</title>
</head>
<body>

{% for comment,child_coment in all_comment_dic.items() %}
    <table border="1">
        <tr>
            <td>{{ comment.body }}</td>
        </tr>
        <tr>
            <td>{{ comment.create_time }}</td>
        </tr>
        <tr>
            <table border="1">
            {% for child in child_coment %}
                    <tr>
                        <td>{{ child.body }}</td>
                        <td>{{ child.create_time }}</td>
                    </tr>
             {% endfor %}
            </table>
        </tr>
    </table>
{% endfor %}
</body>
</html>