{% extends 'base_user.html' %}
{% block title %} {{ user1.username }}的信息 {% endblock %}
{% block contnet %}
    {{ super() }}
    <div class="jumbotron">

<table>
    <tr>
        <td><img src="/static/uploads/{{ user1.head_img }}" style="height: 60px;width: 60px"></td>
    </tr>
    <tr>
        <td><h4>用户名：{{ user1.username }}</h4></td>
    </tr>
    <tr>
        <td><h4>描述信息：{{ user1.description }}</h4></td>
    </tr>
    <tr>
        <td><h4>管理权限：{{ user1.role.role_name }}</h4></td>
    </tr>
</table>
           {% if current_user.username == user1.username %}
               <p><a class="btn btn-primary btn-lg" role="button" href="{{ url_for('bbs1.user_edit_profile',username=current_user.username) }}">修改信息</a></p>
 {% endif %}
</div>

{% endblock %}
