{% extends 'base_user.html' %}
{% block title %} {{ user1.username }}的评论 {% endblock %}
{% block contnet %}
    {{ super() }}
<h3>我的评论</h3>&nbsp;&nbsp;

{% block user_title %}评论{% endblock %}
    {% for comment in user_comments %}
        <table border="1" class="table table-hover">
        <tr>
            <td colspan="2">{{ comment.post.title }}</td>
        </tr>
        <tr>
            {% if comment.is_top_comment %}
                <td>{{ comment.user.username }}</td>
            {% else %}
                <td>{{ comment.user.username }}--回复--{{ comment.parent_comment.user.username }}</td>
            {% endif %}
            <td>{{ comment.create_time }}</td>
        </tr>
            <tr>
            <td colspan="2">{{ comment.body }}</td>
        </tr>

        </table>
        <br>
    {% endfor %}
    《-{% for p in pagination.iter_pages() %}
        <a href="{{ url_for('bbs1.user_comment',username=user1.username) }}">{{ p }}</a>
    {% endfor %}-》
{% endblock %}
