{% extends 'base_user.html' %}
{% block title %} {{ user1.username }}的信息 {% endblock %}
{% block contnet %}
{{ super() }}

<h3>修改用户信息</h3>
{% from '_filed.html' import render_field %}
{% if current_user.username == user1.username %}
<form method="POST" action="{{ url_for('bbs1.user_edit_profile',username=current_user.username) }} " enctype="multipart/form-data">
  {{ edit_profile_profile.hidden_tag() }}
  <table class="table table-hover">
    {{ render_field(edit_profile_profile.head_img) }}
    {{ render_field(edit_profile_profile.description) }}
  </table>
  {{ edit_profile_profile.submmit() }}
</form>
 {% endif %}
{% endblock %}
